body{
  background-image: url('https://images.unsplash.com/photo-1680999851091-d0e0f49b2d9e?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
 font-family: 'Sacramento', cursive;
}
.form{
  background: rgba(7, 16, 185, 0.3);
  text-align: center;
  position: absolute;
  left: 40%;
  top: 30%;
  margin: auto;
  width: 300px;
 height: 260px;
   border: 4px solid #74C4EB;
   padding: 20px 20px 20px 20px;
   border-radius: 10px;
}
input{
  padding: 5px;
  margin: 5px 10px 10px 10px;
  width:270px;
  position: relative;
  border-radius: 8px;
  background-color: #88E0EF;
  border: 1px solid #1597E5;
}
input:active{
  border-color: #1597E5;
}
.check{
  margin:20px 10px 10px 10px;
  height:15px;
  width:20px;
}
.btn{
  position: relative;
  margin: 45px;
  padding: 8px 85px;
  border-radius: 8px;
  font-size: 15px;
  background-color: #88E0EF;
  border: 1px solid #1597E5;
}
.btn:hover{
  cursor: pointer;
}
.btn:active{
  background-color: #1597E5;
  box-shadow: 0 5px #09009B;
  transform: translateY(4px);
}
p{
  text-align: left;
  margin: auto;
}
a{
  text-decoration: none;
}
a:active{
  color:#09009B;
}
